*,
        *::before,
        *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        html,
        body {
        height: 100%;
        }
        body {
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: normal;
        line-height: 1.5;
        color: #1f1a1a;
        line-height: 1.5;
        background: linear-gradient(270deg, rgba(12, 170, 227, 0.005) 10%, rgba(186, 186, 186, 0.11) 20%, #fafafa 30%, #fff 100%);
        }
        /**
        * Begin tipografia.
        */
        a,
        a:active,
        a:link,
        a:visited,
        a:focus {
        color: #375e7f;
        text-decoration: none;
        border-bottom: solid 1px transparent;
        outline: 0;
        }
        a:hover {
        border-bottom-color: #2688dc;
        }
        a.fa:hover {
        border-bottom-color: transparent;
        color: #1f6db0;
        }
        h3 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        padding-bottom: 3px;
        border-bottom: 2px solid #375e7f;
        }
        textarea {
        height: 90px;
        box-sizing: border-box;
        resize: vertical;
        outline: none;
        }
        .btn {
        border: solid 1px #fe9b9b;
        background: linear-gradient(180deg, #fff 0%, #efefef 100%);
        padding: .575rem 1.1rem;
        border-radius: .175rem;
        font-weight: 600;
        color: #686a6b;
        cursor: pointer;
        display: block;
        text-align: center;
        margin-bottom: 5px;
        width: 100%;
        }
        .btn:focus {
        border-color: #375e7f;
        box-shadow: inset 0 -5px 40px rgba(120, 120, 120, 0.1), inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(0, 0, 0, 0.1);
        outline: none;
        }
        .btn:hover {
        box-shadow: inset 0 -100px rgba(108, 108, 108, 0.1);
        }
        .btn.btn-primary {
        border-radius: 3px;
        box-shadow: none;
        color: #fff;
        background: #375e7f;
        font-size: 14px;
        transition: linear all 125ms;
        margin-top: 62%;
        }
        .btn.btn-primary:focus {
        border-color: #7e459b;
        box-shadow: inset 0 1px 2px rgba(39, 56, 28, 0.075), 0 0 0 0.2em rgba(39, 56, 28, 0.6);
        outline: none;
        }
        .btn.btn-primary:hover {
        background: #273e52;
        }
        .btn.btn-danger {
        color: #fff;
        border-color: #bd2c00;
        background: #e7592e;
        background: linear-gradient(180deg, #f86b40 0%, #bd2c00 100%);
        }
        .btn.btn-danger:focus {
        border-color: #aa2c05;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(197, 53, 9, 0.66);
        outline: none;
        }
        .btn-progress {
        cursor: not-allowed;
        opacity: .657;
        }
        .form-control {
        background-color: #fff;
        border: 1px solid #d4d4d4;
        padding: 6px 8px;
        margin: 5px 0 0;
        display: block;
        width: 100%;
        font-size: 16px;
        color: #555;
        line-height: 20px;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
        outline: none;
        }
        .form-control:focus {
        border-color: #4b6b35;
        box-shadow: inset 0 1px 2px rgba(75, 107, 53, 0.075), 0 0 0 0.2em rgba(75, 107, 53, 0.6);
        outline: none;
        }
        input[type="text"]:disabled {
        background: #dddddd;
        cursor: not-allowed;
        }
        .card {
        background-color: #E54732;
        padding: 5px;
        font-size: 10px;
        color: #fff;
        font-weight: 800;
        border-radius: 5px;
        float: left;
        margin-right: 5px;
        }
        /*
        * End tipografia.
        **/
        .wrapper {
        width: 50%;
        position: absolute;
        top: 5%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        }
        .wrapper hgroup {
        text-align: center;
        }
        .wrapper hgroup i.fa {
        font-size: 4em;
        }
        .wrapper hgroup h1 {
        font-weight: 300;
        margin: 10px 0;
        padding: 0;
        color: #545454;
        }
        .wrapper form {
        border: solid 1px #d64646;
        margin: 0 0 25px;
        padding: 20px;
        color: #555;
        border-radius: 4px;
        background-color: #fff;
        }
        .wrapper form .form-group label {
        display: table;
        }
        .wrapper form .form-group .form-group-col {
        float: left;
        margin-right: 2%;
        margin-top: 2%;
        }
        .form-group .form-group-col:first-child {
        margin-left: 3%;
        }
        .wrapper footer {
        border: solid 1px #d6d6d6;
        border-radius: 3px;
        padding: 13px;
        text-align: center;
        font-size: 16px;
        color: #555;
        margin-bottom: 2%;
        }
        .col-94 {
        width: 94%;
        }
        .col-30 {
        width: 30%;
        }
        /**
        * FOR JS Styles:
        */
        #login-form,
        footer {
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.16);
        }
        .title h2 {
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
        }
        .title h4 {
        font-weight: 300;
        margin-bottom: 15px;
        text-align: center;
        }
        @media screen and (max-width: 900px) {
        .wrapper {
        width: 40%;
        }
        }
        @media screen and (max-width: 600px) {
        .wrapper {
        width: 70%;
        }
        }
        @media screen and (max-width: 500px) {
        .wrapper {
        width: 80%;
        }
        }
        @media screen and (max-width: 400px) {
        .wrapper {
        width: 90%;
        }
        }